<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <base href="/">
  <link href="favicon.ico" rel="icon">
  <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
  <link rel="stylesheet" href="/stylesheets/font-awesome.css">
  <!-- <link rel="stylesheet" href="/stylesheets/css.css"> -->
  <!-- <link rel="stylesheet" href="/stylesheets/fontable.core.css"> -->
  <!-- <link rel="stylesheet" href="/stylesheets/demo.css"> -->
  <link rel="stylesheet" href="/stylesheets/style.css">
  <!--<link rel="stylesheet" href="https://rawgit.com/enyo/dropzone/master/dist/dropzone.css">-->
</head>
<!--ng-class="{'gray-bg': $state.is('login')}"-->
<body class="skin-1 gray-bg">
  <div ui-view></div>
  <script src='/javascripts/require.js', data-main="/javascripts/bootstrap.js"></script>
</body>
</html>