doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content

    block footer
    script(src='/javascripts/vendor/jquery.min.js')
    script(src='/javascripts/vendor/angular.min.js')
    script(src='/javascripts/vendor/angular-route.min.js')
    script(src='/javascripts/vendor/angular-ui-router.js')