@import url('./bootstrap.covered.css');
@import url('./component.css');
@import url('./util.css');

/* base */
body {
  font-family: "open sans","Verdana", "Helvetica Neue", Helvetica, Arial, sans-serif;
  /*background-color: #2f4050;*/
  font-size: 13px;
  color: #676a6c;
  overflow-x: hidden;
}
h1{
  font-size: 30px;
}
h2{
  font-size: 24px;
}
h4{
  font-size: 14px;
}
h1, h2, h3, h4, h5, h6{
  font-weight: 100;
}
h3, h4, h5 {
    margin-top: 5px;
    font-weight: 600;
}
h3{
  font-size: 16px;
}
a:focus{
  outline: none;
}
img.circle-border{
  border: 6px solid #fff;
  border-radius: 50%;
}

.vertical-align div{
  display: inline-block;
  vertical-align: middle;
}
.border-bottom{
  border-bottom: 1px solid #e7eaec !important;
}
.gray-bg{
  background-color: #f3f3f4;
}


/* 基础样式 */
.btn input[type="radio"]{
  position: absolute;
  clip: rect(0,0,0,0);
}


/* 列表 */
.list-group{
  margin-bottom: 0;
}
.list-group-item{
  border:1px solid #e7eaec;
}
.list-group-item:first-child{
  border-top: none;
}
.list-group-item>.badge{
  float: right;
}
.list-group-item-heading{

}
.list-group-item-text{
  margin-bottom: 10px;
  font-size: 12px;
  line-height: inherit;
  color: inherit;
}

a.list-group-item.active,a.list-group-item.active:hover{
  background-color: #1ab394;
  border-color: #1ab394;
  color: #fff;
}

.navbar-form-custom{
  float: left;
  height: 50px;
  padding: 0;
  width: 200px;
  display: inline-table;
}
.navbar-form-custom .form-group{
  margin-bottom: 0;
}

.navbar-form-custom .form-control{
  height: 60px;
  font-size: 14px;
  z-index: 2000;
  margin: 0;
  border:none;
  background-color: transparent;
}


/*== 登录*/
.loginColumns{
  max-width: 800px;
  padding: 100px 20px 20px;
  margin: 0 auto;
}


/* 左侧导航 */
.navbar-static-side{
  color: #a7b1c2;
  background-color: #2f4050;
  /*position: absolute;*/
  width: 240px;
  z-index: 10;
}
.nav-header{
  padding: 15px 0;
  text-align: center;
}

.nav-header .img{
  width: 60%;
}



.nav-second-level > li >a{
  padding: 7px 10px 7px 42px;
}
.nav-second-level > li.active{
  border: none;
}

.metismenu .arrow{
  float: right;
  line-height: inherit;
}
.metismenu li.active .arrow:before{
  content: "\f107";
}

.metismenu .fa.arrow:before {
    content: "\f104";
}
.fa.arrow:before {
    content: "\f104";
}

.collapse{
  display: none;
}
.collapse.in{
   display: block;
}

/* 右侧内容 */
#page-wrapper{
  /*margin-left: 240px;*/
  padding:0 15px;
  position: relative;
}

.minimalize-styl-2{
  float: left;
  font-size: 14px;
  padding:4px 12px;
  margin:14px 5px 5px 30px;
}
.skin-1 .navbar-minialize{
  background-color: #0e9aef;
  border-color: #0e9aef;
}
.skin-1 .minimalize-styl-2{
  margin:14px 5px 5px 30px;
}

.skin-1 .navbar-static-top{
  background-color: #fff;
}
.skin-1 .wapper-content{
  padding: 30px 15px;
}
.nav.navbar-top-links a{
  font-size: 14px;
}
.navbar-top-links li{
  display: inline-block;
}
.navbar-top-links li a{
  padding:20px 10px;
  min-height: 50px;
}

/* ibox 通用box*/
.ibox {
  margin-bottom: 25px;
  margin-top: 0;
  clear: both;
  padding:0;
}

.ibox-title{
  padding:14px 15px 7px;
  border-color:#e7eaec;
  border-style: solid solid none;
  border-width: 4px 1px 1px;
  min-height: 48px;
  background-color: #fff;
}
.ibox-title h5{
  float: left;
  margin: 0;
  font-size: 14px;
  text-overflow:ellipsis;
}
.ibox-tools{
  float: right;
}
.ibox-tools a{
  color: #c4c4c4;
  margin-left: 5px;
  cursor: pointer;
}

.ibox-content{
  background-color: #fff;
  color: inherit;
  border:1px solid #e7eaec;
  padding:15px 20px 20px 20px;
  clear: both;
}

.ibox-content h1,
.ibox-content h2,
.ibox-content h3,
.ibox-content h4,
.ibox-content h5{
  margin-top: 5px;
  /*font-weight: 300;*/
}


.todo-list{
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 14px;
}

.todo-list li{
  background-color: #f3f3f4;
  border-left: 6px solid #e7eaec;
  border-right: 6px solid #e7eaec;
  color: inherit;
  margin-bottom: 2px;
  padding: 10px; 
}
.todo-list > li .label{
  font-size: 12px;
  margin-left: 10px;
}


/* form */
.icheckbox{
  position: relative;
}
.icheckbox input[type="checkbox"],.icheckbox input[type="radio"]{
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
  left: 0;
  top:-4px;
  opacity: 0;
}
.icheckbox_square-green, .iradio_square-green{
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  padding: 0;
  width: 22px;
  height: 22px;
  border:none;
  cursor: pointer;
  background: url('/public/images/green.png') no-repeat;
}
.iradio_square-green{
  background-position: -192px 0; 
}
.icheckbox_square-green.checked{
  background-position: -48px 0;
}
.iradio_square-green.checked{
  background-position: -168px 0;
}

/* nav tabs */
.tab{
  margin-bottom: 25px;
}
.nav.nav-tabs li{
  background: none;
  border: none;
}
.nav.nav-tabs li > a{
  border-radius: 0;
  color: #A7B1C2;
  padding:10px 25px;
  font-weight: 600;
}
.nav.nav-tabs li > a:hover,.nav.nav-tabs li.active > a{
  color: #676a6c;
}
.tab-content{
  border:1px solid #ddd;
  border-top: none;
}



/*== table*/

.table .sorting{
  cursor: pointer;
}

.table .sorting:after{
  /*float: right;*/
  content: "\f0dc";
  padding-left: 5px;
  font-family: fontawesome;
  color: rgba(50,50,50,.5);
}

.table .sorting_desc:after{
  content: "\f0dd";
  color: #333;
}

.footable-row-detail-inner{
  display: table;
}
.footable-row-detail-row{
  line-height: 2em;
  display: table-row;
}

.footable-row-detail-key{
  display: table-cell;
  font-weight: bold;
  padding-right:0.5em;
}
.footable-row-detail-value{
  display: table-cell;
}
.footable-odd{
  background-color: #f7f7f7;
}

.dataTables-pagination ul{
  margin: 2px 0;
}

/*== product */
.product-box.active,.product-box:hover{
  border: 1px solid transparent;
  box-shadow: 0 3px 7px 0 #a8a8a8; 
}
.product-box{
  padding: 0;
}
.product-desc{
  padding: 20px;
  position: relative;
}
.product-price{
  position: absolute;
  top: -32px;
  padding: 6px 12px;
  right: 0;
  font-size: 14px;
  font-weight: 600;
  background-color: #1ab394;
  color: #fff;
}
.product-name,.product-name:hover{
  display: block;
  font-size: 16px;
  font-weight: 600;
  margin: 2px 0 5px 0; 
  color: #676a6c;
}

/* 页脚 */
.footer{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  border-top: 1px solid #e7eaec;
  background-color: #fff;
  padding:10px 20px;
}

/*== icons */
.icons-box .infont a{
  color: #a6a8a9;
  padding: 10px;
  /*margin: 1;*/
  display: block;
}
.icons-box .fa{
  font-size: 25px;
  display: block;
  color: #676a6c;
}




