/* base */
h1{
  font-size: 30px;
}
h2{
  font-size: 24px;
}
h4{
  font-size: 14px;
}
h1, h2, h3, h4, h5, h6{
  font-weight: 100;
}
h3, h4, h5 {
    margin-top: 5px;
    font-weight: 600;
}
h3{
  font-size: 16px;
}
a:focus{
  outline: none;
}
img.circle-border{
  border: 6px solid #fff;
  border-radius: 50%;
}

.breadcrumb > li a{
  color: inherit;
}
.breadcrumb > li.active{
  font-weight: 600;
}
.vertical-align div{
  display: inline-block;
  vertical-align: middle;
}
.border-bottom{
  border-bottom: 1px solid #e7eaec !important;
}
.gray-bg{
  background-color: #f3f3f4;
}

.btn-default,.btn-default:hover{
  background-color:#c2c2c2;
  border-color:#c2c2c2;
  color: #fff;
}
.bg-navy,.btn-navy:hover{
  background-color: #1ab394;
  border-color: #1ab394;
  color: #fff;
}

.btn-primary,.btn-primary:hover{
  background-color: #1ab394;
  border-color: #1ab394;
  color: #fff;
}
.bg-info, .btn-info, .btn-info:hover{
  background-color: #23c6c8 !important;
  border-color: #23c6c8;
  color: #fff;
}
.bg-warning, .btn-warning,.btn-warning:hover{
  background-color: #f8ac59 !important;
  border-color: #f8ac59;
  color: #fff;
}
.bg-danger, .btn-danger,.btn-danger:hover{
  background-color: #ed5565 !important;
  border-color: #ed5565;
  color: #fff;
}
.bg-success, .btn-success,.btn-success:hover{
  background-color: #1c84c6 !important;
  border-color: #1c84c6;
  color: #fff;
}


/* === 按钮 */
.btn-white{
  color: inherit;
  background: white;
  border: 1px solid #e7eaec;
}
.btn-white:hover, .btn-white.active{
  color: inherit;
  border-color: #d2d2d2;
}
.btn-w-m{
  min-width: 120px;
}

/*===  3D按钮*/
.btn-dim{
  color: #fff;
  text-decoration: none;
  text-align: center;
  font-weight: 600;
  margin-bottom: 20px;
  border-radius: 5px !important;
}

.btn-dim.btn-success{
  box-shadow: inset 0px 0px 0px #1872ab, 0px 5px 0px 0px #1872ab, 0px 10px 5px #999999;
}
.btn-dim.btn-info{
  box-shadow: inset 0px 0px 0px #1eacae, 0px 5px 0px 0px #1eacae, 0px 10px 5px #999999;
}
.btn-dim.btn-warning{
  box-shadow: inset 0px 0px 0px #f79d3c, 0px 5px 0px 0px #f79d3c, 0px 10px 5px #999999;
}
.btn-dim.btn-primary{
  box-shadow: inset 0px 0px 0px #16987e, 0px 5px 0px 0px #16987e, 0px 10px 5px #999999;
}
.btn-dim.btn-danger{
  box-shadow: inset 0px 0px 0px #ea394c, 0px 5px 0px 0px #ea394c, 0px 10px 5px #999999;
}

.btn-dim-lg{
  width: 90px;
  height: 90px;
  font-size: 42px;
}




.no-borders{
  border-top:none !important;
}
.text-navy{
  color: #1ab394;
}
.text-muted{
  color: #888;
}
.text-primary{
  color: inherit;
}
.text-success{
  color:#1c84c6;
}
.text-info{
  color: #23c6c8;
}
.text-warning{
  color: #f8ac59;
}
.text-danger{
  color: #ed5565;
}
.no-padding{
  padding: 0 !important;
}
.no-padding .list-group-item{
  border-left:none;
  border-right: none;
  border-bottom: none;
}
.no-padding .list-group-item:first-child{
   border-top: none;
}

body {
  font-family: "Verdana", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #2f4050;
  font-size: 13px;
  color: #676a6c;
  overflow-x: hidden;
}

/* 基础样式 */
.form-control,.form-control:focus, .progress, .progress-bar{
  box-shadow: none;
  font-size: 14px;
  border-color:#e5e6e7;
}
.form-control:focus{
  border-color: #1ab394;
}

.btn input[type="radio"]{
  position: absolute;
  clip: rect(0,0,0,0);
}


/* 列表 */
.list-group{
  margin-bottom: 0;
}
.list-group-item{
  border:1px solid #e7eaec;
}
.list-group-item:first-child{
  border-top: none;
}
.list-group-item>.badge{
  float: right;
}
.list-group-item-heading{

}
.list-group-item-text{
  margin-bottom: 10px;
  font-size: 12px;
  line-height: inherit;
  color: inherit;
}

a.list-group-item.active,a.list-group-item.active:hover{
  background-color: #1ab394;
  border-color: #1ab394;
  color: #fff;
}


.label-primary, .badge-primary{
  background-color: #1ab394;
  color: #fff;
}

.label-info, .badge-info{
  background-color: #23c6c8;
  color: #fff;
}

.label-danger, .badge-danger{
  background-color: #ed5565;
  color: #fff;
}

.label-success, .badge-success {
  background-color: #1c84c6;
  color: #fff;
}

.label-warning, .badge-warning {
  background-color: #f8ac59;
  color: #fff;
}


.navbar-form-custom{
  float: left;
  height: 50px;
  padding: 0;
  width: 200px;
  display: inline-table;
}
.navbar-form-custom .form-group{
  margin-bottom: 0;
}

.navbar-form-custom .form-control{
  height: 60px;
  font-size: 14px;
  z-index: 2000;
  margin: 0;
  border:none;
  background-color: transparent;
}

.label{
  font-family: 'Verdana';
  font-size: 10px;
  padding:3px 8px;
}


.loginColumns{
  max-width: 800px;
  padding: 100px 20px 20px;
  margin: 0 auto;
}


/* 左侧导航 */
.navbar-static-side{
  color: #a7b1c2;
  background-color: #2f4050;
  position: absolute;
  width: 240px;
  z-index: 10;
}
.nav-header{
  padding: 15px 0;
  text-align: center;
}

.nav-header .img{
  width: 60%;
}

.nav > li > a{
  color: #a7b1c2;
  font-weight: bold;
  display: block;
}

.nav > li > a:hover, 
.nav > li > a:focus{
  background-color: transparent;
}
.nav >li.active{
  border-left: 4px solid #19aa8d;
  background-color: #293846;
}
.nav >li.active > a{
  color: #fff;
}
.nav>li>a i{
  margin-right: 6px;
}

.nav-second-level > li >a{
  padding: 7px 10px 7px 42px;
}
.nav-second-level > li.active{
  border: none;
}

.metismenu .arrow{
  float: right;
  line-height: inherit;
}
.metismenu li.active .arrow:before{
  content: "\f107";
}

.metismenu .fa.arrow:before {
    content: "\f104";
}
.fa.arrow:before {
    content: "\f104";
}

.collapse{
  display: none;
}
.collapse.in{
   display: block;
}

/* 右侧内容 */
#page-wrapper{
  margin-left: 240px;
  padding:0 15px;
  position: relative;
}

.minimalize-styl-2{
  float: left;
  font-size: 14px;
  padding:4px 12px;
  margin:14px 5px 5px 30px;
}
.skin-1 .navbar-minialize{
  background-color: #0e9aef;
  border-color: #0e9aef;
}
.skin-1 .minimalize-styl-2{
  margin:14px 5px 5px 30px;
}

.skin-1 .navbar-static-top{
  background-color: #fff;
}
.skin-1 .wapper-content{
  padding: 30px 15px;
}
.nav.navbar-top-links a{
  font-size: 14px;
}
.navbar-top-links li{
  display: inline-block;
}
.navbar-top-links li a{
  padding:20px 10px;
  min-height: 50px;
}




/* ibox */
.ibox {
  margin-bottom: 25px;
  margin-top: 0;
  clear: both;
  padding:0;
}

.ibox-title{
  padding:14px 15px 7px;
  border-color:#e7eaec;
  border-style: solid solid none;
  border-width: 4px 1px 1px;
  min-height: 48px;
  background-color: #fff;
}
.ibox-title h5{
  float: left;
  margin: 0;
  font-size: 14px;
  text-overflow:ellipsis;
}
.ibox-tools{
  float: right;
}
.ibox-tools a{
  color: #c4c4c4;
  margin-left: 5px;
  cursor: pointer;
}

.ibox-content{
  background-color: #fff;
  color: inherit;
  border:1px solid #e7eaec;
  padding:15px 20px 20px 20px;
  clear: both;
}

.ibox-content h1,
.ibox-content h2,
.ibox-content h3,
.ibox-content h4,
.ibox-content h5{
  margin-top: 5px;
  font-weight: 300;
}


/* progress */
.progress-mini{
  height: 5px;
}
.progress-small{
  margin-top: 5px;
  height: 10px;
}
.progress-bar {
  box-shadow: none;
  background-color: #1ab394;
}
.progress-bar-danger{
  background-color: #ed5565;
}

/* widget */
.widget{
  border-radius: 5px;
  padding: 15px 20px;
  margin: 10px 0;
}
.widget h2{
  font-size: 30px;
}

.widget-head-box{
  margin-top: 10px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.widget-text-box{
  background-color: #fff;
  padding: 20px;
  border:1px solid #e7eaec;
}

/* media */

.chart-element img{
  width: 38px;
}
.chart-element .media{
  padding-bottom: 10px;
}



.todo-list{
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 14px;
}

.todo-list li{
  background-color: #f3f3f4;
  border-left: 6px solid #e7eaec;
  border-right: 6px solid #e7eaec;
  color: inherit;
  margin-bottom: 2px;
  padding: 10px; 
}
.todo-list > li .label{
  font-size: 12px;
  margin-left: 10px;
}


/* form */
.icheckbox{
  position: relative;
}
.icheckbox input[type="checkbox"],.icheckbox input[type="radio"]{
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
  left: 0;
  top:-4px;
  opacity: 0;
}
.icheckbox_square-green, .iradio_square-green{
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  padding: 0;
  width: 22px;
  height: 22px;
  border:none;
  cursor: pointer;
  background: url('/public/images/green.png') no-repeat;
}
.iradio_square-green{
  background-position: -192px 0; 
}
.icheckbox_square-green.checked{
  background-position: -48px 0;
}
.iradio_square-green.checked{
  background-position: -168px 0;
}

/* panel */
.panel{
  border-radius: 0;
}
.panel-heading{
  border-radius:0;
}
.panel-body{
  background-color: #fff;
}

/* nav tabs */
.tab{
  margin-bottom: 25px;
}
.nav.nav-tabs li{
  background: none;
  border: none;
}
.nav.nav-tabs li > a{
  border-radius: 0;
  color: #A7B1C2;
  padding:10px 25px;
  font-weight: 600;
}
.nav.nav-tabs li > a:hover,.nav.nav-tabs li.active > a{
  color: #676a6c;
}
.tab-content{
  border:1px solid #ddd;
  border-top: none;
}

/* badges */
.badge-md{
  padding:6px 14px;
}

.badge-lg{
  padding:8px 18px;
}

/* 页脚 */
.footer{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  border-top: 1px solid #e7eaec;
  background-color: #fff;
  padding:10px 20px;
}


.font-bold{
  font-weight: 600;
}
.btn,.form-control{
  border-radius: 0;
}
.m-b{
  margin-bottom: 15px; 
}
.m-t{
  margin-top: 15px;
}
.m-l-xs{
  margin-left: 5px;
}
.m-xs{
  margin: 5px;
}
.m-b-xs{
  margin-bottom: 5px;
}
.m-b-md{
  margin-bottom: 20px;
}
.m-b-lg{
  margin-bottom: 30px;
}
.m-t-lg{
  margin-top: 30px;
}
.m-r-xs{
  margin-right: 5px;
}
.p-xl{
  padding: 40px !important;
}
.p-lg{
  padding: 30px !important;
}
.no-margins{
  margin: 0;
}

/* table */
.table-bordered > thead > tr > th{
  background-color: #F5F5F6;
}

.table .sorting{
  cursor: pointer;
}

.table .sorting:after{
  /*float: right;*/
  content: "\f0dc";
  padding-left: 5px;
  font-family: fontawesome;
  color: rgba(50,50,50,.5);
}

.table .sorting_desc:after{
  content: "\f0dd";
  color: #333;
}

.footable-row-detail-inner{
  display: table;
}
.footable-row-detail-row{
  line-height: 2em;
  display: table-row;
}

.footable-row-detail-key{
  display: table-cell;
  font-weight: bold;
  padding-right:0.5em;
}
.footable-row-detail-value{
  display: table-cell;
}
.footable-odd{
  background-color: #f7f7f7;
}



/* page */
.pagination > li > a,
.pagination > li > a:hover,
.pagination > li > a:focus,
.pagination > li > a:active{
  display: block;
  color: inherit;
}

.pagination > .active>a,
.pagination > .active>a:hover,
.pagination > .active>a:focus,
.pagination > .active>a:active{

  background-color: #f4f4f4;
  border-color: #ddd;
  color: inherit;
  cursor: default;
}

.dataTables-pagination ul{
  margin: 2px 0;
}

/* product */
.product-box.active,.product-box:hover{
  border: 1px solid transparent;
  box-shadow: 0 3px 7px 0 #a8a8a8; 
}
.product-box{
  padding: 0;
}
.product-desc{
  padding: 20px;
  position: relative;
}
.product-price{
  position: absolute;
  top: -32px;
  padding: 6px 12px;
  right: 0;
  font-size: 14px;
  font-weight: 600;
  background-color: #1ab394;
  color: #fff;
}
.product-name,.product-name:hover{
  display: block;
  font-size: 16px;
  font-weight: 600;
  margin: 2px 0 5px 0; 
  color: #676a6c;
}


/* table */
.table-bordered > thead > tr > th{
  background-color: #F5F5F6;
}

.table .sorting{
  cursor: pointer;
}

.table .sorting:after{
  float: right;
  content: "\f0dc";
  font-family: fontawesome;
  color: rgba(50,50,50,.5);
}

.table .sorting_desc:after{
  content: "\f0dd";
  color: #333;
}

.footable-row-detail-inner{
  display: table;
}
.footable-row-detail-row{
  line-height: 2em;
  display: table-row;
}

.footable-row-detail-key{
  display: table-cell;
  font-weight: bold;
  padding-right:0.5em;
}
.footable-row-detail-value{
  display: table-cell;
}
.footable-odd{
  background-color: #f7f7f7;
}



/* page */
.pagination > li > a,
.pagination > li > a:hover,
.pagination > li > a:focus,
.pagination > li > a:active{
  display: block;
  color: inherit;
}

.pagination > .active>a,
.pagination > .active>a:hover,
.pagination > .active>a:focus,
.pagination > .active>a:active{

  background-color: #f4f4f4;
  border-color: #ddd;
  color: inherit;
  cursor: default;
}

.dataTables-pagination ul{
  margin: 2px 0;
}

/* product */
.product-box.active,.product-box:hover{
  border: 1px solid transparent;
  box-shadow: 0 3px 7px 0 #a8a8a8; 
}
.product-box{
  padding: 0;
}
.product-desc{
  padding: 20px;
  position: relative;
}
.product-price{
  position: absolute;
  top: -32px;
  padding: 6px 12px;
  right: 0;
  font-size: 14px;
  font-weight: 600;
  background-color: #1ab394;
  color: #fff;
}
.product-name,.product-name:hover{
  display: block;
  font-size: 16px;
  font-weight: 600;
  margin: 2px 0 5px 0; 
  color: #676a6c;
}

